// components/_footer.scss

.footer {
  background-color: $bg-primary;
  padding: 15px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow-x: auto; // Enable horizontal scrolling if content overflows

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  p {
    font-size: 16px;
    color: $text-secondary;
    margin: 0;
    font-weight: 500;
  }

  .footer-nav {
    display: flex;
    align-items: center;
    flex-wrap: nowrap; // Prevent navigation links from wrapping

    // Targeting the anchor links directly
    a,
    Link {
      font-size: 14px;
      margin-right: 20px; // Improved spacing
      padding: 8px 12px;
      border-radius: 20px;
      transition: background-color 0.3s, color 0.3s;
      border: 1px solid transparent;

      &:hover {
        background-color: lighten($bg-primary, 10%);
        color: $primary;
        text-decoration: none;
        border: 1px solid white;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    @media (max-width: $tablet) {
      // Adjust the max-width to match your design
      max-width: 300px;
    }
  }
}
