.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-primary;
  border-bottom: 1px solid $text-secondary;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 70px;
  width: 100;
  box-sizing: border-box;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .logo {
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }

  .nav {
    display: flex;
    align-items: center;

    .nav-item {
      margin-right: 20px;
      padding: 10px 15px;
      border-radius: 20px;
      transition: background-color 0.3s;

      &:hover {
        background-color: lighten($bg-primary, 5%);
      }

      &:last-child {
        margin-right: 0;
      }
    }

    button {
      background: none;
      border: none;
      font-weight: bold;
      cursor: pointer;
      color: $primary;
      font-size: 16px;
      outline: none;
    }
  }

  @media (max-width: $tablet) {
    height: 80px;

    .nav .nav-item {
      margin-right: 15px;
      padding: 8px 12px;
    }
  }

  @media (max-width: $mobile) {
    height: 80px;
    width: 400px;

    .nav .nav-item {
      margin-right: 15px;
      padding: 8px 12px;
    }

    .hamburger {
      display: block;
    }

    // Override potential limiting styles
    .container {
      max-width: none;
      padding: 0 20px; // Adjust padding to your design
    }
  }
}
