.post {
  padding: 20px;
  border-bottom: 1px solid $text-secondary;
  display: flex;
  justify-content: space-between;

  &:last-child {
    border-bottom: none;
  }

  img.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .post-content {
    flex-grow: 1;
    margin-left: 10px;
  }

  // Tablet adjustments
  @media (max-width: #{$tablet}) {
    padding: 15px;

    img.avatar {
      width: 35px;
      height: 35px;
      margin-right: 8px;
    }
  }

  // Mobile adjustments
  @media (max-width: #{$mobile}) {
    flex-direction: column; // Stack vertically on mobile
    padding: 10px;

    img.avatar {
      width: 30px;
      height: 30px;
      margin-right: 0;
      margin-bottom: 10px;
    }

    .post-content {
      margin-left: 0;
    }
  }
}
