.post {
  padding: 20px;
  border-bottom: 1px solid $text-secondary;
  display: flex;
  justify-content: space-between;

  &:last-child {
    border-bottom: none;
  }



.post-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* left-aligns the content */
}

.post-header {
  display: flex;
  align-items: center; /* vertical alignment */
  gap: 10px; /* space between avatar, name, and likes */
}

.avatar {
  width: 30px; /* reduced size for a more compact layout */
  height: 30px;
  border-radius: 50%; /* makes the avatar circular */
  object-fit: cover;
}

.post-title {
  margin: 0; /* removes any default margin */
}

.likes {
  margin: 0; /* removes any default margin */
}

.post-text {
  margin-top: 5px; /* adjust as needed */
}





  // Tablet adjustments
  @media (max-width: #{$tablet}) {
    padding: 15px;

    img.avatar {
      width: 35px;
      height: 35px;
      margin-right: 8px;
    }
  }

  // Mobile adjustments
  @media (max-width: #{$mobile}) {
    flex-direction: column; // Stack vertically on mobile
    padding: 10px;

    img.avatar {
      width: 30px;
      height: 30px;
      margin-right: 0;
      margin-bottom: 10px;
    }

    .post-content {
      margin-left: 0;
    }
  }
}
