// Base styles
@import "./base/reset";
@import "./base/typography";
@import "./base/colors";
@import "./base/mixins";
// Components
@import "./components/buttons";
@import "./components/forms";
@import "./components/header";
@import "./components/footer";
// View
@import "./views/profile";
@import "./views/userProfile";
@import "./views/posts";
@import "./views/modal";
// Layout
@import "./layout/grid";
@import "./layout/navigation";
// Utilities
@import "./utilities/visibility";

// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }


body {
    padding-bottom: $footer-height;
}
